@using GameShopModel.Entities

@model List<GameProduct>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            @foreach (var gameProduct in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@gameProduct.PresentationImageUrl" class="card-img-top" alt="@gameProduct.Title">
                    <div class="card-body">
                        <h5 class="card-title">@gameProduct.Title</h5>
                        <a href="#" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
